<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Item Name</label>
        <input [(ngModel)]="itemName"  type="text">
    <label>Description</label>
        <input [(ngModel)]="description" type="text">
    <label>Price</label>
        <input [(ngModel)]="price" type="number">
    <button (click)="save()" type="submit" class="btn btn-primary w-100">SAVE</button>
  </div>
